.dctUtilMsg{
    background-color: #dff0d8;
    border-radius:0 0 2px 2px;
    border:1px solid #d6e9c6;
    color: #3c763d;
    display: none;
    font-weight: bold;
    left: 50%;
    position: fixed;
    padding: 10px 15px;
    top: 0px;
    z-index: 1300;
}
.dctUtilErr{
    background-color: #f2dede;
    border-radius:0 0 2px 2px;
    border:1px solid #ebccd1;
    color: #a94442;
    display: none;
    font-weight: bold;
    left: 50%;
    position: fixed;
    padding: 10px 15px;
    top: 0px;
    z-index: 9999;
}